@{
    ViewData["Title"] = "Products"; //The Title named Products has given here
}
<h2>@ViewData["Title"]</h2>         <!--The title is referenced through ViewData-->

<!--This is the view model for ProductsController-->